.container {
    margin: 20px 0;
}

.container img {
    height: 100%;
    width: 100%;
}

.main {
    overflow-y: hidden;
}

@media (max-width:600px) {

    .container img {
        height: 150px;
        width: 49%;
    }
}