.main {
    display: grid;
    grid-template-columns: 80px auto auto 50px;
    grid-template-rows: 20px 60px auto 50px;
    gap: 15px;
}

.productDetailsContainer {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
}

.paymentcontainer {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 4;
}