.section {
    padding: 30px;
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 4;
    border-radius: 0.7em;
    background-color: #fff;
    margin-bottom: 25px;
}

.titleContainer {
    height: 58px;
}

.titleContainer span {
    font-family: system-ui;
    font-size: 21px;
    font-weight: 500;
}

.contentContainer {
    display: flex;
    flex-direction: row;
}

.productDetailsContainer {
    height: 170px;
    width: 720px;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.imageContainer {
    height: 92px;
    width: 79px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.2em;
    border: 1px solid #e3e3e3;
}

.imageContainer img {
    height: 90px;
    width: 75px;
}

.productInfoContainer {
    width: 500px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.productNameContainer {
    height: 35px;
}

.productNameContainer span {
    font-family: system-ui;
    font-size: 17px;
    font-weight: 500;
}

.quantityPriceContainer {
    height: 70px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.quantity {
    font-family: system-ui;
    font-size: 14px;
    font-weight: 500;
    color: #6d6d6d;
}

.price {
    font-family: system-ui;
    font-size: 15px;
}

.descriptionContainer {
    padding-left: 30px;
    height: 200px;
    width: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-left: 1px solid #e3e3e3;
}

.descriptionContainer span {
    font-family: system-ui;
    font-size: 19px;
    font-weight: 400;
}

.descriptionContainer div {
    height: 91%;
    display: flex;
    align-items: start;
}

.descriptionContainer p {
    font-family: system-ui;
    font-size: 17px;
    font-weight: 300;
}