.container {
    height: 208px;
    width: 580px;
    /* padding: 0 15px 0 15px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
    border-top: 1px solid #dedede;
    border-radius: 0.7em;
    background-color: #fff;
}

.container span {
    font-family: system-ui;
    font-size: 18px;
}

.container div:nth-child(1) {
    height: 40px;
    width: 95%;
    padding-top: 15px;
    border-top: 1px solid #dedede;
    margin-top: 18px;
}

.imgContainer {
    height: 115px;
    border-bottom: 1px solid #dedede;
}

.imgContainer img {
    width: 550px;
}
